#Основной сценарий:

1. Пользователь заходит на сайт, понимая, что забыл пароль.
2. Пользователь нажимает на кнопку “Забыли пароль?”
3. Пользователю открывается окно, в котором необходимо ввести электронную почту, указанную при регистрации.
4. Пользователь вводит электронную почту.
   - Если электронная почта, введенная пользователем, была ранее указана для какого-либо профиля, пользователю на почту отправляется письмо для изменения пароля. Пользователь переходит по ссылке из электронной почты, вводит новый пароль и попадает на основную страницу сайта.
   - Если почта не была ранее зарегистрирована для какого-либо аккаунта, пользователю отображается, что для указанной электронной почты отсутствует ранее зарегистрированный аккаунт, и пользователю предлагается пройти первичную регистрацию на сайте. Пользователь автоматически переходит в сценарий ”Регистрация”.